@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main{
  display:flex;
  /*flex-wrap: wrap;*/
}
/* body Start */
.main-box{
  height: 70vh;
  width: 100vw;
  display: inline-block;
  justify-content: center;

  background: rgba(255, 255, 255, 0.93);
  border: 10px black;
  : 15px;
}



.wrapper_C{

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 3rem;
  border-radius: 6px;
  box-shadow: 0 5px 10px #2f3d47;
  width: 100%;
  max-height: 24rem;
  margin-left: 40vw;
  margin-right: 40vw;
  width: 28rem;

  margin-top: 2rem;
  
}
.heading{
  display:inline-flex;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  width: 100%;
}

.wrapper_C form{
  margin-top: 0.1rem;
  width: 100%;
}
.wrapper_C form .input-box{
  height: 2.2rem;
  margin: 1rem 0rem;
  width:100%;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 1px 15px;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus
{
  border-color: #4070f4;
}
form h3{
  color: #707070;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #212529;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #2f3d47;
}
form .text h3{
  color: #333;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;


}

.register-box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 5px 10px #2f3d47;

  width: 100%;
  height: 11rem;
 margin: 2vh 40vw;
  max-width:28rem;

  min-width: 20vw;


}

.button_wrapper1{
  display: flex;
  justify-content: center;
  align-items: center;
}


.register-button1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
 border-radius: 5px;
  background: #212529;
  cursor: pointer;
  width: 90%;
 min-height: 6vh;
  margin-top: 2vh;


}
.register-button1 a{
  text-decoration: none;
  color: white;

}
/*.register-button :hover{*/
/*  background: #2f3d47;*/

/* footer start */




